$color-verde: #399B53;
$color-gris: #EBEBEB;
$color-negro: #040404;

@mixin flexbox($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin ls-400 {
    font-family: 'League Spartan';
    font-weight: 400;
}

@mixin ls-500 {
    font-family: 'League Spartan';
    font-weight: 500;
}

@mixin ls-600 {
    font-family: 'League Spartan';
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    text-decoration-line: none;
}

ol,
ul {
    list-style: none;
    margin: 0;
}

hr {
    margin: 0;
    border: 1;
}

h3 {
    margin: 0;
}

a:visited {
    color: inherit
}

a.no-visited:visited {
    color: inherit
}

a {
    text-decoration-line: none;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.oculto {
    display: none;
}

.bg-gris {
    background-color: $color-gris;
}

.padding-0 {
    padding: 0px;
}

.subrayado {
    text-decoration-line: underline;
}

.flexbox-row {
    display: flex;
    flex-direction: row;
}

.contenedor-titulo-pag {
    display: flex;
    justify-content: left;
    padding: 50px 20px;
    margin: 0 auto;
}

.titulo-pag {
    @include ls-600;
    font-size: 2.5rem;
    text-align: left;
    color: $color-negro;

    &-secundario {
        font-size: 2.25rem;
        padding: 0px 20px 0px 0px;
        margin: 0px 0px 20px;
    }
}

.swal2-popup {
    @include ls-600;
    color: $color-negro;
    font-size: 1.2rem;
}

.swal2-confirm {
    background-color: $color-verde !important;
    border-color: $color-verde !important;
}

.swal2-styled {
    border-radius: 24px !important;
}

.custom-toastify-text {
    @include ls-400;
    color: #EBEBEB;
    font-size: 1.2rem;
}

@media (min-width: 480px) {

    .main__titulo {
        padding: 50px 40px;
    }
}

@media (min-width: 768px) {

    .contenedor-titulo-pag {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .contenedor-titulo-pag {
        max-width: 960px;
    }
}