.navbar-nav {
    @include ls-400;
    font-size: 1.25rem;
    --bs-nav-link-hover-color: #FFFFFF;
    transition-duration: 2s;
    transition-property: all;
    transition-delay: 2s;
}

.nav-link[aria-current="page"] {
    text-decoration: underline;
    color: $color-negro;
}

.header-logo {
    min-width: 170px;
    padding: 2px 0px;
}

.nav-item:hover {
    text-decoration: underline;
}